
*.class
*.form
*.class
*.class
*.class
*.jpg
*.png
target/classes/.netbeans_automatic_build
*.pdf
target/classes/hibernate.cfg.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
*.jar
target/test-classes/.netbeans_automatic_build
